.card {
    width: 250px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    border-radius: 20px;
}
.mapboxgl-ctrl-bottom-right {
    display: none !important;
}
label {
    width: max-content;
    color: rgb(255, 77, 45);
    font-size: 15px;
    border-bottom: .5px solid tomato;
    margin: 3px 0;
}
.desc {
    font-size: 14px;
}
.star {
    color: gold;
}
stars {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}
.username {
    font-size: 14px;
}
.date {
    font-size: 12px;
}
form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    border: none;
    border-bottom: 1px solid tomato;
}
input::placeholder,textarea::placeholder {
    font-size: 12px;
    color:gray;
    
}
textarea {
    border-color: tomato;
}
.submiButton {
    border:none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}

input:focus-visible {
    outline-color: tomato;
}
.mapboxgl-popup-content {
    
    box-shadow: -5px 5px 8px #4141414a !important;

}
.button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.logout {
    background-color: tomato;
    position: absolute;
    top:0;
    right: 0;
}
.login {
    background-color: sandybrown;
    font-weight: 600;
    padding: 0.5em 1em;
}
.register {
    background-color: steelblue;
    font-weight: 600;
}

button.button {
    margin: 5px;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 2%;
}